openai
asyncio
numpy
python-dotenv
rich
pytimers
requests
livekit
livekit-agents
liveit-agents[silero]
livekit-agents[turn-detector]
livekit-plugins-silero
onnxruntime
fastapi
pydantic
uvicorn
faster-whisper
torch
ruaccent
f5-tts
